POSTGRES_PASSWORD=change_me
DATABASE_URL=postgresql+asyncpg://online_school_user:change_me@db:5432/online_school_api
DATABASE_URL_TEST=postgresql+asyncpg://online_school_user:change_me@db:5432/online_school_api_test
SECRET_KEY=change_me
ALGORITHM=HS256